/*h1{

    text-align: center; color: blue;
    font-size: 30px;
    background-color: burlywood;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif
}

body{
   
    text-align: left;
    background-image: url("https://image.shutterstock.com/image-photo/white-transparent-leaf-on-mirror-260nw-1029171697.jpg");
    background-repeat: repeat-y;
    background-position: center;
    
}
.Heading{
    font-size: 50px;
}
#SpeacialH{
    text-align: right;
    color: green;
}*/
ul{
    list-style-type: none;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    overflow:hidden;
}

li{
    float:left;
}

.nav-right{
    float:right;
}
a{
    text-decoration: none;
    color:#008CBA;
}
li a{
    display: block;
    color:#666;
    padding-bottom: 10px;
    padding-right:14px;
    padding-left:14px;
    padding-top:10px;
}
li a:hover{
    background-color: lightgrey;
}

li a.active{
    background-color: green;
    color:white;
}

div{
    border:5px;
    border-style: dotted;
    border-radius:20px;
    box-shadow: -10px 10px 5px dimgrey;
    background-image: radial-gradient(white,blue);
}
table{
    width:100%;
    border-collapse: collapse;
}
thead{
    background-color: green;
    color:white;
}
thead tr{
    text-align: center;
}
tbody tr:nth-child(odd){
    background-color: lightgrey;
}